.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  position: relative;
  display: flex;
  height: 100vh;
  margin: 30px 0 0 64px;
  min-height: 600px;
  max-height: 756px;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin: auto 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background:  #2f80ed;
  top: 64px;
  position: absolute;  
  right: 0;
  bottom: 0;
}


.two-columns {
  display: flex;
  margin: 100px;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  width: 80%; 
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


.section-title {
  margin: 100px auto 0 auto;
  width: 60%;  
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  color: white;
}


.section-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

.section-subtitle_theme_dark {
  color: white;
}


.table {
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


.feynman {
  position: relative;
  background-color: #f2f2f2;
  height: 890px;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.feynman__title {
  margin: 100px 0 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  width: 648px;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
  color: #2f80ed;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;  
  z-index: 0;
}


.kaufman {
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
  z-index: -2;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;  
  z-index: -1;
  width: 877px;
  height: 877px;
}

